8kyu/calculateBMI/obj/calculateBMI.csproj.nuget.dgspec.json
8kyu/calculateBMI/obj/calculateBMI.csproj.nuget.g.props
8kyu/calculateBMI/obj/calculateBMI.csproj.nuget.g.targets
8kyu/calculateBMI/obj/project.assets.json
8kyu/calculateBMI/obj/project.nuget.cache
8kyu/calculateBMI/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
8kyu/calculateBMI/obj/Debug/net7.0/apphost.exe
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.AssemblyInfo.cs
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.AssemblyInfoInputs.cache
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.assets.cache
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.csproj.AssemblyReference.cache
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.csproj.CoreCompileInputs.cache
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.csproj.FileListAbsolute.txt
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.dll
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.GeneratedMSBuildEditorConfig.editorconfig
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.genruntimeconfig.cache
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.GlobalUsings.g.cs
8kyu/calculateBMI/obj/Debug/net7.0/calculateBMI.pdb
8kyu/calculateBMI/obj/Debug/net7.0/ref/calculateBMI.dll
8kyu/calculateBMI/obj/Debug/net7.0/refint/calculateBMI.dll
3kyu/BinomialExpansion/Program.cs
6kyu/evenFibonacciSum/bin/Debug/net7.0/evenFibonacciSum.dll
6kyu/evenFibonacciSum/bin/Debug/net7.0/evenFibonacciSum.exe
6kyu/evenFibonacciSum/bin/Debug/net7.0/evenFibonacciSum.pdb
6kyu/evenFibonacciSum/obj/evenFibonacciSum.csproj.nuget.dgspec.json
6kyu/evenFibonacciSum/obj/evenFibonacciSum.csproj.nuget.g.props
6kyu/evenFibonacciSum/obj/project.assets.json
6kyu/evenFibonacciSum/obj/project.nuget.cache
6kyu/evenFibonacciSum/obj/Debug/net7.0/apphost.exe
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.assets.cache
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.csproj.AssemblyReference.cache
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.csproj.CoreCompileInputs.cache
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.csproj.FileListAbsolute.txt
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.dll
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.GeneratedMSBuildEditorConfig.editorconfig
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.genruntimeconfig.cache
6kyu/evenFibonacciSum/obj/Debug/net7.0/evenFibonacciSum.pdb
6kyu/evenFibonacciSum/obj/Debug/net7.0/ref/evenFibonacciSum.dll
6kyu/evenFibonacciSum/obj/Debug/net7.0/refint/evenFibonacciSum.dll
6kyu/evenFibonacciSum/.vscode/settings.json
6kyu/evenFibonacciSum/bin/Debug/net7.0/evenFibonacciSum.dll
6kyu/evenFibonacciSum/bin/Debug/net7.0/evenFibonacciSum.pdb
3kyu/BinomialExpansion/bin/Debug/net7.0/BinomialExpansion.dll
3kyu/BinomialExpansion/bin/Debug/net7.0/BinomialExpansion.pdb
3kyu/BinomialExpansion/obj/Debug/net7.0/BinomialExpansion.dll
3kyu/BinomialExpansion/obj/Debug/net7.0/BinomialExpansion.pdb
3kyu/BinomialExpansion/obj/Debug/net7.0/ref/BinomialExpansion.dll
3kyu/BinomialExpansion/obj/Debug/net7.0/refint/BinomialExpansion.dll
